/*globale einstellungen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gelb: #FFBF00;
    --hellgelb: #FFDD00;
    --blau: #0071bc;
    --gruen: #83D134;
    --parkhaus: #435266;
    --dunkelgrau: #353535;
    --grau: grey;
    
  }
  

  @font-face {
    font-family: 'Univers';
    src: url('fonts/Univers LT 55 Roman.ttf') format('ttf'),
         url('fonts/Univers LT 93 Extra Black Extended Oblique.ttf') format('ttf'),
         url('fonts/Univers LT 65 Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*wiederkehrende_elemente*/
  body {
    background-color: var(--grau);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    color: #FFF;
    text-align: center;
    font-family: "Univers LT 55";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.button{
    display:flex;
    justify-content:center;
    margin:2rem;
    position:relative;   
    z-index:10;          /* größer als .section-strasse (3)          */
  }
    
#button{
    background: linear-gradient(to right, 
    var(--gelb) 0%, 
    var(--hellgelb) 50%, 
    var(--gelb) 100%); 
width: 15rem;
height: 4.5rem;
flex-shrink: 0;

border: none;
border-radius: 0.5rem;

display: flex;                /* ← wichtig für Zentrierung */
align-items: center;          
justify-content: center;      
text-align: center;

color: var(--dunkelgrau);
text-align: center;
font-family: "Univers LT 93 ExtraBlackEx";
font-size: 1.5rem;
font-style: italic;
font-weight: 1000;
letter-spacing: 0.1rem;
}


/*header*/
.head {
    background-image: url('../img/HG-Asphalt.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    height: 100vh;
    text-align: center;
    gap: 2rem;
    position:relative;   /* bleibt beim Scrollen oben kleben – alternativ: relative */
    z-index:1000;      /* höher als .scene (999) = ganz vorn */

}
                
#asphalt{
    z-index: -1;
}
#logo{
    width: 75vw;
}

#button-ready {
    background: linear-gradient(to right, 
        var(--gelb) 0%, 
        var(--hellgelb) 50%, 
        var(--gelb) 100%); 
    width: 15rem;
    height: 4.5rem;
    flex-shrink: 0;
    margin-top: 2rem;

    border: none;
    border-radius: 0.5rem;

    display: flex;                
    align-items: center;         
    justify-content: center;      
    text-align: center;

    color: var(--dunkelgrau);
    text-align: center;
    font-family: "Univers LT 93 ExtraBlackEx";
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 1000;
    letter-spacing: 0.1rem;
}

.animation {
  background: linear-gradient(to right, 
  var(--gelb) 0%, 
  var(--hellgelb) 50%, 
  var(--gelb) 100%); 
  height: 50px;
  width: 100px;
  overflow: hidden;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}


/* highlights */
.section_rhein {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: none;
    z-index: 1;
    position: relative;
}

#rhein {
  width: 100vw;       
  height: auto;       
  display: block;     
  margin: 0 auto;
}

.section_highlights{
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  margin-left: 1rem;
  padding: 2rem 0;         
  align-items: center;         
}

.section_highlights_rechts{
  display: flex;
  align-items: center;      
  justify-content: flex-end; 
  margin-right: 1rem;
  padding: 2rem 0;        
  align-items: center;         
}

#highlight {
  width: 30%;
  height: auto;
}





/* strasse */
.section_strasse{
    position:fixed;       
    inset:0;                 
    pointer-events:none;    
    z-index:3;            
  }
  
.strasse{
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width: 4rem;                 /* mobile   */
    background:var(--dunkelgrau);
    padding: 1rem;
  }

.strasse::before{ /* mittellinie */
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    transform:translateX(-50%); /* vertikal zentrieren */
    width:0;                        /* nötig, damit nur die Border zählt */
    border-left:10px dashed #fff;   /* Breite, Stil, Farbe */
  }



/*parkhaeuser*/
.section_parkhaus_links{
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  margin-left: 1rem;        
  height: 50vh;  
  align-items: center;         

}

.section_parkhaus_rechts{
display: flex;
align-items: center;      
justify-content: flex-end; 
margin-right: 1rem;        
height: 50vh; 
align-items: center;          

}

.parkhaus_flaeche {
  width: 8rem;
  height: 15rem;
  background: var(--parkhaus);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


h2 {
  font-family: 'Univers', sans-serif;
  background-color: var(--blau);  
  color: white;             
  text-align: center;
  display: inline-block;
  border-radius: 0.5rem;      
  padding: 0.5rem 1rem;  /* oben/unten 0.5rem, links/rechts 1rem */
  font-size: 1rem;
}


.status {
    background-color: var(--gruen);   
    width: 2rem;             
    height: 2rem;            
    border-radius: 50%;
    margin-top: 1rem;
}

#icon_parkhaus{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;  
        margin-bottom: 1rem;
}





/*breakpoints */
@media (min-width:640px){

}

@media (min-width:768px){
  .parkhaus_flaeche {
    width: auto;
    height: auto;}
  .strasse{ 
    width:10rem; }
  #icon_parkhaus{
      width: 4rem;
      height: 4rem;}
  h2{
    padding: 0.5rem;  
    font-size: 1rem  
  }
  .section_parkhaus_links{
    margin-left: 2rem;
  }
  .section_parkhaus_rechts{
    margin-right: 2rem;
  }
  #logo{
    width: 50vw;
}
.section_highlights .section_highlights_rechts{
  max-height: 30vh;
}

}

@media (min-width:1024px){
  .parkhaus_flaeche {
    padding: 2rem;}
  .strasse{ width:15rem; }
  #icon_parkhaus{
      width: 7rem;
      height: 7rem;}
  h2 { 
    font-size: 1.5rem
  }
  .section_parkhaus_links{
    margin-left: 3rem;
  }
  .section_parkhaus_rechts{
    margin-right: 3rem;
  }
  #highlight{

  }
}

@media (min-width:1280px){
  .strasse{ width: 30rem; }
   #icon_parkhaus{
      width: 7rem;
      height: 7rem;}
  h2{
    font-size: 1.75rem
  }
  .section_parkhaus_links{
    margin-left: 5rem;
  }
  .section_parkhaus_rechts{
    margin-right: 5rem;
  }
  #highlight{

  }
}







/* Ankerlink button_readyAnimation to section strasse