/* ------------- globale_einstellungen ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gelb: #FFBF00;
    --hellgelb: #FFDD00;
    --blau: #0071bc;
    --gruen: #83D134;
    --parkhaus: #435266;
    --dunkelgrau: #353535;
    --grau: grey;
    --dunkelblau: #133F63;
    --font-primary: "Univers LT", Arial, sans-serif;
  }
 
  html{
    scroll-behavior: smooth;  
  }

/* ------------- fonts ------------- */
@font-face {
  font-family: "Univers LT";
  src: url("/fonts/univers_lt_55_roman.woff2") format("woff2"),
       url("/fonts/univers_lt_55_roman.woff")  format("woff"),
       url("/fonts/univers_lt_55_roman.otf")   format("opentype"),
       url("/fonts/univers_lt_55_roman.ttf")   format("truetype");
  font-weight: 400;
  font-style : normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers LT";
  src: url("/fonts/univers_lt_65_bold.woff2") format("woff2"),
       url("/fonts/univers_lt_65_bold.woff")  format("woff"),
       url("/fonts/univers_lt_65_bold.otf")   format("opentype"),
       url("/fonts/univers_lt_65_bold.ttf")   format("truetype");
  font-weight: 700;
  font-style : normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers LT";
  src: url("/fonts/univers_lt_93_extra_black_extended_oblique.woff2") format("woff2"),
       url("/fonts/univers_lt_93_extra_black_extended_oblique.woff")  format("woff"),
       url("/fonts/univers_lt_93_extra_black_extended_oblique.otf")   format("opentype"),
       url("/fonts/univers_lt_93_extra_black_extended_oblique.ttf")   format("truetype");
  font-weight: 900;          
  font-stretch: expanded;    
  font-style : oblique 10deg;
  font-display: swap;
}


/* ------------- styles ------------- */
.fonts {
  font-family: "Univers LT", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 1.8rem;
}

body {
  background-color: var(--grau);
  font-family: "Univers LT", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  text-align: center;
  font-family: "Univers LT", sans-serif;
  color: white;
  line-height: 1.875rem;
  font-weight: 900;
  font-style: oblique 10deg;
  font-stretch: expanded;
  font-size: 1.8rem;
}
h3{
  font-size: 1rem;
  font-family: "Univers LT", sans-serif;
  font-style: bold;
}

p {
  color: #FFF;
  text-align: center;
  font-family: "Univers LT", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.popup p {
  color: black;
}

.button{
    display:flex;
    justify-content:center;
    margin:2rem;
    position:relative;   
    z-index:10;        
  }
    
.button_hg{
    background: linear-gradient(to right, 
    var(--gelb) 0%, 
    var(--hellgelb) 50%, 
    var(--gelb) 100%); 
  width: 15rem;
  height: 4.5rem;
  flex-shrink: 0;
  cursor: pointer;

  border: none;
  border-radius: 0.5rem;

  display: flex;                
  align-items: center;          
  justify-content: center;      
  text-align: center;

  color: var(--dunkelgrau);
  text-align: center;
  font-family: "Univers LT", sans-serif;
  font-size: 1.25rem;
  font-stretch: expanded;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 1000;
  letter-spacing: 0.1rem;
}

.button_hg:hover{
  background: var(--gelb);
}

/* ------------- header ------------- */
.header {
    background-image: url('../img/HG-Asphalt.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    height: 100vh;
    text-align: center;
    gap: 2rem;
    position:relative;
    z-index:1000;     

}
                
#asphalt{
    z-index: -1;
}
#logo{
    width: 75vw;
}

/* ------------- animation_button_ready ------------- */
.hintergrund{
  background: linear-gradient(to right, 
  var(--gelb) 0%, 
  var(--hellgelb) 50%, 
  var(--gelb) 100%); 
width: 15rem;
height: 4.5rem;
flex-shrink: 0;
margin-top: 2rem;

border: none;
border-radius: 0.5rem;
}

.inner_heading{
  border: 0px solid #ddd; 
  height: 50px;
  font-size: 45px;
  text-transform: uppercase;
  overflow: hidden;
  justify-content: center;

}

.inner_heading span{
  position: relative;
  color: var(--dunkelgrau);
  text-align: center;
  font-family: "Univers LT", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-stretch: expanded;
  font-weight: 1000;
  letter-spacing: 0.1rem;
  animation: animation 6s
  ease-in-out infinite
}

@keyframes animation {
  0%,   30%  { top: 0; }
  33%,  63%  { top: -52px; } 
  66%,  96%  { top: -105px; }
  100%       { top: 0; }
}





/* ------------- highlights ------------- */
.section_rhein img {
  width: 100%;
  object-fit: cover;    
}


.section_highlights{
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  margin-left: 1rem;
  padding: 2rem 0;         
  align-items: center;         
}

.section_highlights_rechts{
  display: flex;
  align-items: center;      
  justify-content: flex-end; 
  margin-right: 1rem;
  padding: 2rem 0;        
  align-items: center;         
}

#fasnacht,
#muenster {
  width: 30%;
  height: auto;
}




/* ------------- strasse ------------- */
.section_strasse{
    position:fixed;       
    inset:0;                 
    pointer-events:none;    
    z-index:3;            
  }
  
.strasse{
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width: 4rem;                
    background:var(--dunkelgrau);
    padding: 1rem;
  }

.strasse::before{ /* mittellinie */
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    transform:translateX(-50%); 
    width:0;                       
    border-left:10px dashed #fff; 
  }


/* ------------- auto ------------- */
.auto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 15%;
  height: auto;
}

/* ------------- parkhaeuser ------------- */
.section_parkhaus_links{
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  margin-left: 1rem;        
  height: 50vh;  
  align-items: center;  
}


.section_parkhaus_rechts{
display: flex;
align-items: center;      
justify-content: flex-end; 
margin-right: 1rem;        
height: 50vh; 
align-items: center;          

}

.parkhaus_flaeche {
  width: 8rem;
  height: 15rem;
  background: var(--parkhaus);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.parkhaus_flaeche:hover {
  background: var(--dunkelblau); 
}

h2 {
  font-family: 'Univers', sans-serif;
  background-color: var(--blau);  
  color: white;             
  text-align: center;
  display: inline-block;
  border-radius: 0.5rem;      
  padding: 0.5rem 1rem; 
  font-size: 1rem;
}

.icon_parkhaus{
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;  
        margin-bottom: 1rem;
}

.status {
    background-color: var(--gruen);   
    width: 2rem;             
    height: 2rem;            
    border-radius: 50%;
    margin-top: 1rem;
}

:root {
  --gruen: #28a745;
  --orange: #fd7e14;
  --rot: #dc3545;
}

/* ------------- pop-up fenster ------------- */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1010;
}

.popup_content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  position: relative;
  box-sizing: border-box;
}

.popup_title{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.popup_text p {
  text-align: left;
  font-size: 1rem;
}

/* Close X button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*-----Auslastung Regler-------*/
.auslastung_bar_container {
  position: relative;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, green, orange, red);
  border-radius: 10px;
  margin: 0.5rem 0;
}


.regulator {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ----------- footer ------------ */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--parkhaus);
    color: #fff;
    padding: 1rem 1.25rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.footer_left,
.footer_center,
.footer_right {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.footer_left {
    text-align: center;
    padding: 0.5rem;
}

.footer_center {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.footer_right {
    text-align: right;
    padding: 0.5rem;
}

.footer_logo {
    height: 40px;
    width: auto;
}

.footer_phone,
.footer_email {
    margin: 2px 0;
    font-size: 1rem;
}

/* ------------- breakpoints ------------- */
@media (min-width:640px){

}

@media (min-width:768px){
  .parkhaus_flaeche {
    width: auto;
    height: auto;}
  .strasse{ 
    width:10rem; }
  .icon_parkhaus{
      width: 4rem;
      height: 4rem;}
  h2{
    padding: 0.5rem;  
    font-size: 1rem  
  }
  h3{
    font-size: 1.25rem;
  }
  .section_parkhaus_links{
    margin-left: 2rem;
  }
  .section_parkhaus_rechts{
    margin-right: 2rem;
  }
  #logo{
    width: 50vw;
}
.section_highlights .section_highlights_rechts{
  max-height: 30vh;
}
.footer_left {
  text-align: left;
}
}

@media (min-width:1024px){
  .parkhaus_flaeche {
    padding: 2rem;}
  .strasse{ width:13rem; }
  .icon_parkhaus{
      width: 7rem;
      height: 7rem;}
  h2 { 
    font-size: 1.5rem
  }
  .section_parkhaus_links{
    margin-left: 3rem;
  }
  .section_parkhaus_rechts{
    margin-right: 3rem;
  }
}

@media (min-width:1280px){
  .strasse{ width: 30rem; }
   .icon_parkhaus{
      width: 7rem;
      height: 7rem;}
  h2{
    font-size: 1.75rem
  }
  .section_parkhaus_links{
    margin-left: 5rem;
  }
  .section_parkhaus_rechts{
    margin-right: 5rem;
  }
}